.hlavicka {
    background-color: black;
    width: 1537px;
    height: 80px;
    margin-left: -10px;
    margin-top: -20px;
}
.logo_menu {
    width: 210px;
    height: 190px;
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    margin-top: -50px;
    margin-left: -10px;


}
.navigacny_panel {
        height: 12%;
        display: flex;
        align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left:    -15px;
    padding-right: 70px;
    
}
nav {
    text-align: right;
    flex: 1;
    margin-top: -125px;
    
}
a {
text-decoration: none;
color: orangered;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kontajner {
    box-sizing: border-box;
    background-color: black;
    height: 1700px;
    width: 1537px;
    margin-left: -10px;
    
}

.kontakt {
    text-align: center;
}

.info {
    color: white;
    margin-top: 20px;
    text-align:center;
    font-size: 20px;
}
.mapa {
    text-align: center;
}

p55 {
    color: orangered;
    font-size: 18px;

}

p4 {
    color: white;
    font-size: 15px;

}

p9 {
    color: white;
}

.ja {
    width: 250px;
    height: 275px;
    align-items: center;
margin-left: -90px;
}

.pata {
    
    height: 15px;
    width: 1535px;
    color: white;
    background-color: black;
    margin-left: 2px;
    margin-top: 20px;
}


p3{
    font-size: 12px;
}

.video {
    width: 500px;
    height: 320px;
}