.kontajner {
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
background-color: black;
height: 770px;
width: 1530px;
margin-left: -10px;
background-image: url(./CSS/Images/Back.jpg);
}
.background {
    height: 60px;
    width: 80px;
}
.hlavicka {
    background-color: black;
    width: 1530px;
    height: 80px;
    margin-left: -10px;
    margin-top: -20px;
}
.logo_menu {
    width: 210px;
    height: 190px;
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    margin-top: -50px;
    margin-left: -10px;

}
.navigacny_panel {
        height: 12%;
        display: flex;
        align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left:    -15px;
    padding-right: 70px;
    
}
nav {
    text-align: right;
    flex: 1;
    margin-top: -125px;
    
}
.zoznam {
    color: orangered;

}
a {
text-decoration: none;
color: orangered;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.vypredaj {
    width: 770px;
    height: 370px;
    margin-left: 570px;  
    margin-top: 50px;
}

h1 {
 color: orangered;
 font-size: 35px;
 margin-top: -320px;
 margin-left: -20px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 20px orangered, 0 0 20px orangered, 0 0 20px orangered, 0 0 30px orangered, 0 0 30px orangered;

}

 p1 {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    border-radius: 10px;
    padding: 15px 25px;
    display: block;
    box-sizing: border-box;
    margin-left: -835px;
    margin-top: -20px;
    text-align: center;   
     
}

p2 {
    margin-left: 180px;
    
}

button {
    width: 250px;
    color: black;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 5px 1px 5px 1px;
    background: azure;
    border: 0;  
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: -80px;
}


.pata {
    width: 1535px;
    color: white;
    background-color: black;
    margin-left: -8px;
}

p3 {
    font-size: 12px;
}

.Doprava {
    width: 500px;
    height: 340px;
    margin-left: 395px;
    margin-top: 100px;
    border-radius: 25px;
}